.destinationCardCntnr {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 10px;
    border: 1px solid black;
    align-items: flex-start;
}

.imgCntnr {
    background-color: red;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-self: center;
}

.cityCntnr {
    display: flex;
    flex-direction: column;
}

.btnCntnr {
    display: flex;
    align-self: flex-end;
}